<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <title>LoginPage</title>
 </head> 
 <body>
  <font face="Calibri,Arial,Helvetica,sans-serif">
   <table width="850" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:510.4pt;background-color:white;margin-left:0.1pt;">
    <tbody>
     <tr height="24" style="height:14.8pt;">
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#4472C4;padding:0 5.4pt;border-style:none none solid solid;border-bottom-width:1pt;border-left-width:1pt;border-bottom-color:white;border-left-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Env</b></span></font>
        </div> </span></td>
      <td width="374" nowrap="" style="width:224.8pt;height:14.8pt;background-color:#4472C4;padding:0 5.4pt;border-style:none none solid none;border-bottom-width:1pt;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Expiration Duration(Days)</b></span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#4472C4;padding:0 5.4pt;border-style:none none solid none;border-bottom-width:1pt;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Subtotal (Count)</b></span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#4472C4;padding:0 5.4pt;border-style:none none solid none;border-bottom-width:1pt;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>IP address</b></span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#4472C4;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Remark</b></span></font>
        </div> </span></td>
     </tr>
     <tr height="25" style="height:15.55pt;">
      <td rowspan="3" width="119" nowrap="" style="width:71.4pt;height:15.55pt;background-color:#4472C4;padding:0 5.4pt;border-width:1pt;border-style:none solid solid solid;border-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Bluem</b></span></font>
         <font face="MS Mincho" size="2" color="white"><span style="font-size:9pt;"><b>​</b></span></font>
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>ix</b></span></font>
        </div> </span></td>
      <td width="374" nowrap="" style="width:224.8pt;height:15.55pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">&lt;30</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:15.55pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">0</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:15.55pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">NA</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:15.55pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;"><br /> </span></td>
     </tr>
     <tr height="25" style="height:15.55pt;">
      <td width="374" nowrap="" style="width:224.8pt;height:15.55pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">&gt;30 &amp; &lt;60</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:15.55pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="MS Mincho" size="1" color="#212121"><span style="font-size:8pt;">​</span></font>
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">0</span></font>
        </div> </span></td>
      <td width="119" style="width:71.4pt;height:15.55pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">NA</span></font>
         <font face="MS Mincho" size="1" color="#212121"><span style="font-size:8pt;">​</span></font>
        </div> </span></td>
      <td width="119" style="width:71.4pt;height:15.55pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;"><br /> </span></td>
     </tr>
     <tr height="24" style="height:14.8pt;">
      <td width="374" nowrap="" style="width:224.8pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">&gt;60</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">620</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;"><br /> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;"><br /> </span></td>
     </tr>
     <tr height="24" style="height:14.8pt;">
      <td rowspan="3" width="119" style="width:71.4pt;height:14.8pt;background-color:#4472C4;padding:0 5.4pt;border-style:none solid solid solid;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;border-right-color:white;border-bottom-color:black;border-left-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>SSO</b></span></font>
        </div> </span></td>
      <td width="374" nowrap="" style="width:224.8pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">&lt;30</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">0</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">NA</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#D9E2F3;"><br /> </span></td>
     </tr>
     <tr height="24" style="height:14.8pt;">
      <td width="374" nowrap="" style="width:224.8pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">&gt;30 &amp; &lt;60</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">0</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">NA</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid none none;border-right-width:1pt;border-right-color:white;"> <span style="background-color:#B4C6E7;"><br /> </span></td>
     </tr>
     <tr height="24" style="height:14.8pt;">
      <td width="374" nowrap="" style="width:224.8pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">&gt;60</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">17</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font size="1" color="#212121"><span style="font-size:8pt;">　</span></font>
        </div> </span></td>
      <td width="119" nowrap="" style="width:71.4pt;height:14.8pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;"><br /> </span></td>
     </tr>
    </tbody>
   </table> </font>
  <div style="background-color:white;margin-top:0;margin-bottom:0;">
   <font face="Calibri,Arial,Helvetica,sans-serif" size="2"><span style="font-size:16px;background-color:white;"><font face="Arial,sans-serif"><span lang="en-US">&nbsp;</span></font></span></font>
  </div>
  <font face="Calibri,Arial,Helvetica,sans-serif">
   <table width="854" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:512.9pt;background-color:white;">
    <tbody>
     <tr height="33" style="height:19.95pt;">
      <td width="118" nowrap="" style="width:70.9pt;height:19.95pt;background-color:#4472C4;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Service</b></span></font>
        </div> </span></td>
      <td width="377" nowrap="" style="width:226.75pt;height:19.95pt;background-color:#4472C4;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Name</b></span></font>
        </div> </span></td>
      <td width="358" nowrap="" style="width:215.2pt;height:19.95pt;background-color:#4472C4;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#4472C4;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="white"><span style="font-size:9pt;" lang="en-US"><b>Expiration Date</b></span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td rowspan="2" width="118" nowrap="" style="width:70.9pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="black"><span style="font-size:9pt;" lang="en-US">WIoTP</span></font>
        </div> </span></td>
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="MS Mincho" size="1" color="#212121"><span style="font-size:8pt;">​</span></font>
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">internal self-signed certificates</span></font>
        </div> </span></td>
      <td width="358" style="width:215.2pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">100 years later</span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">IoTP product env. Cert (external)</span></font>
        </div> </span></td>
      <td width="358" nowrap="" style="width:215.2pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">21-Nov-19</span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td rowspan="2" width="118" nowrap="" style="width:70.9pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="black"><span style="font-size:9pt;" lang="en-US">DashDb</span></font>
        </div> </span></td>
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="MS Mincho" size="1" color="#212121"><span style="font-size:8pt;">​</span></font>
         <font face="Arial,sans-serif" size="1" color="#212121"><span style="font-size:8pt;" lang="en-US">DB2 Warehouse on Cloud WebConsole certificate</span></font>
        </div> </span></td>
      <td width="358" style="width:215.2pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">28-Sep-19</span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">DB2 SSL certificate</span></font>
        </div> </span></td>
      <td width="358" nowrap="" style="width:215.2pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">2020</span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td width="118" nowrap="" style="width:70.9pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="black"><span style="font-size:9pt;" lang="en-US">Message Hub</span></font>
        </div> </span></td>
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">MessageHub certificate</span></font>
        </div> </span></td>
      <td width="358" nowrap="" style="width:215.2pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">Nov 21 11:49:01 2019 GMT</span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td width="118" nowrap="" style="width:70.9pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="black"><span style="font-size:9pt;" lang="en-US">Cloudant</span></font>
        </div> </span></td>
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">(no self-signed certificates)</span></font>
        </div> </span></td>
      <td width="358" nowrap="" style="width:215.2pt;height:16.5pt;background-color:#B4C6E7;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#B4C6E7;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">N/A</span></font>
        </div> </span></td>
     </tr>
     <tr height="27" style="height:16.5pt;">
      <td width="118" nowrap="" style="width:70.9pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="2" color="black"><span style="font-size:9pt;" lang="en-US">Bluebox</span></font>
        </div> </span></td>
      <td width="377" nowrap="" style="width:226.75pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">(no self-signed certificates)</span></font>
        </div> </span></td>
      <td width="358" nowrap="" style="width:215.2pt;height:16.5pt;background-color:#D9E2F3;padding:0 5.4pt;border-style:none solid solid none;border-right-width:1pt;border-bottom-width:1pt;border-right-color:white;border-bottom-color:white;"> <span style="background-color:#D9E2F3;">
        <div align="center" style="text-align:center;margin-top:0;margin-bottom:0;">
         <font face="Arial,sans-serif" size="1" color="black"><span style="font-size:8pt;" lang="en-US">N/A</span></font>
         <font face="MS Mincho" size="1" color="black"><span style="font-size:8pt;" lang="en-US">​</span></font>
        </div>
        <div>
         <font face="MS Mincho" size="1" color="black"><span style="font-size:8pt;" lang="en-US"><br /> </span></font>
        </div> </span></td>
     </tr>
    </tbody>
   </table> </font>
  <font face="Arial" size="4"><span style="background-color:white;"><br /> </span></font>
 </body>
</html>